.blog h1{
    color: #6F473C;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width:375px) {
    .blog h1 {
        font-size: 30px;
    }
}