.profilePic {
    max-width: 500px;
    max-height: 700px;
    border-radius: 10px;
    margin: 0 auto;
    
   
  }

  .container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
  }
  