h3, p{
    padding-top: 10px;
    color: #6F473C;
}

.Projects {
    height: 700px;
}

.Projects h1 {
    color: #6F473C;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}



