.App section {
  background-color: #E2CDCC;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.App {
  max-width:  1510px;
  min-height: 1884px;
  margin: 0 auto;
}

