.Highlights {
   color: #6F473C;
   margin: 0 auto;
   margin-top: 15px;


}

img{ 
    max-width: 400px;
    max-height: 500px;
    border-radius: 10px;
    display: block;
    align-self: center;
    margin: 0 auto;
    margin-top: 15px;
}

h2 {
    display: flex;
   justify-content: center;
   margin: 0 auto;
}

.aboutMe {
    color: #6F473C;
}

.alice-carousel__dots-item.__active{
    background: #94AA94 !important;
    opacity: 100%;
}

.alice-carousel__dots-item {
    background: #94AA94 !important;
    opacity: 50%;
}

.alice-carousel_next-btn-item_inactive {
    background: #94AA94 !important;
}

.alice-carousel__next-btn-item {
    color: #94AA94 !important;
}

.alice-carousel_prev-btn-item_inactive {
    background: #94AA94 !important;
}

.alice-carousel__prev-btn-item {
    color: #94AA94 !important;
}

@media (max-width: 990px) {
    img{ 
        max-width: 100%;
      max-height: 500px;
        border-radius: 10px;
        display: block;
        align-self: center;
        margin: 0 auto;
    }

    .AliceCarousel {
        display: flex;
        display: block;
    }

    h2 {
        font-size: 20px;
    }

    .aboutMe {
        font-size: 20px;
    }
}